{% load staticfiles %}
<link media="screen" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/general.css"></link>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<script type="text/css" src="{{ STATIC_URL }}js/general.js"></script>

<script>
//have to .off... .on stuff cuz otherwise multiple bindings sometimes. happened at work. it was dumb. so this fixes it
//going to handle each submit button this way, allows for in the future to have client side validation, etc  
  $(document).off('click', '#displayCityData').on('click', '#displayCityData', function(e) {
    e.preventDefault();
    var serializedInfo = "&city_summary=" + $('#city_summary input').val() + "&csrfmiddlewaretoken={{csrf_token}}";
    
    $.post("{% url 'display_cities' %}", serializedInfo, function(data) {
      $('.displayCityStuff').html(data);
    });
  });

  $(document).off('click', '#addCityData').on('click', '#addCityData', function(e) {
    e.preventDefault();
    var serializedInfo = "&city_add=" + $('#city_add input').val() + "&csrfmiddlewaretoken={{csrf_token}}";

    $.post("{% url 'add_cities' 'display' %}", serializedInfo, function(data) {
      $('.addCityStuff').html(data);
    });
  });

  $(document).off('click', '#statistics').on('click', '#statistics', function(e) {
    e.preventDefault();
    var serializedInfo = "&stats=" + $('#statistic input').val() + "&csrfmiddlewaretoken={{csrf_token}}";

    $.post("{% url 'city_statistics' %}", serializedInfo, function(data) {
      $('.statisticStuff').html(data);
    });
  });

</script>

<html>

<head>
  <title>Neighborhood Rank</title>
  <meta charset="UTF-8">
</head>

<body id='body'>
  <center>
    <h1>Neighborhood Rank</h1>
  </center>

  <!--the action is the url with the alias 'city', see urls.py. also passing argument 'data' back to the view (the action variable) -->

  <!--<form method="post" action="{% url 'city' 'data' %}" id="CityAction"> who needs forms?-->
    <div class="cityinput">
      <h2>Enter city for data</h2>
        <span id="city_summary">{{ form.city_summary }}</span>
        <button id="displayCityData">Submit</button>
    </div>
    <div class="addcityinput">
      <h2>Enter city to add data</h2>
        <span id="city_add">{{ form.city_add }}</span>
        <button id="addCityData">Submit</button>
    </div>
    <div class="stats">
      <h2>Enter a statistic to find more about it</h2>
        <span id="statistic">{{ form.statistic }}</span>
        <button id="statistics">Submit</button>
    </div>
  <!--</form>-->

  <div class="ad1">An ad here?</div>
  <div class="ad2">An ad here?</div>
  <div class="ad3">An ad here?</div>
  <div class="ad4">An ad here?</div>

  <div class="content">
    <div class="addCityStuff"></div>
    <div class="displayCityStuff"></div>
    <div class="statisticStuff"></div>
  </div>

</body>

</html>