<script>
$(document).off('click', '#addCityButton').on('click', '#addCityButton', function(e) {
	e.preventDefault();
	var serializedInfo = $('#addCityForm').serialize();

	$.post($('#addCityForm').attr('action'), serializedInfo, function(data) {
		if(!data.match('errorlist'))
			$('#body').html(data);
		else
			alert(data);
	});
})
</script>

<h1 style="text-align: center;">Adding Data for {{ cityName }}</h1>
<form method="post" action="{% url 'add_cities' 'add' %}" id="addCityForm">
	{% csrf_token %}
	<div class="addData">
		Region: {{ form.region }} <br>
		Population: {{ form.population }} <br>
		Geography: {{ form.geography }} <br>
		Good Schools?: {{ form.good_schools }} <br>
		Median Income: {{ form.median_income }} <br>
		Best Restaurant: {{ form.best_restaurant }}
		<button id="addCityButton">Submit</button>
	</div>
</div>