<script type="text/javascript">
csrfToken = "{{ csrf_token }}"; //to submit forms and junk

$(document).ready(function() {  //not using jquery is dumb, makes it harder to insert code at certain spots
  {% if city %}
  $.get("{% url 'city' 'default' %}", function(data) {
    if (data)
      $('#city_qualities').html(data); //see below, inserts the data it gets back to the div below, so dont redirect to whole other page
    else
      $('#city_qualities').html('');
  });
  {% endif %}
});

</script>

<div class="newThing" id="city_qualities"></div>