/*Beginning of body style*/

body {
	/*background-image: url('../images/pokemonbackground.jpg');*/
	background-size: 100% auto;
  /*color:white;*/
}
/*End of body style*/

/*Beginning of data inputs*/

.addcityinput {
	position: absolute;
	left: 24%;
	top:40%;
	margin-left: -150px;
	margin-top: -150px;
}

.cityinput {
  position: absolute;
  left: 49%;
  top: 40%;
  margin-left: -150px;
  margin-top: -150px;
}

.stats {
	position: absolute;
	left: 74%;
	top: 40%;
	margin-left: -150px;
	margin-top: -150px;
}
/*End of data inputs*/

/*Beginning of ad placement*/

.ad1 {
	position: absolute;
	left: 20%;
	top: 40%;
	margin-left: -150px;
	margin-top: -200px;
}

.ad2 {
	position: absolute;
	left: 90%;
	top: 40%;
	margin-left: -150px;
	margin-top: -200px;
}

.ad3 {
	position: absolute;
	left: 20%;
	top:95%;
	margin-left: -150px;
	margin-top: -50px;
}

.ad4 {
	position: absolute;
	left: 90%;
	top: 95%;
	margin-left: -150px;
	margin-top: -50px;
}
/*End of ad placement*/

/* where data goes when they hit submit */

.content {
	position: absolute;
	left: 30%;
	top: 45%;
}

/* End of where data goes on a submit button */